<div class="row user-head">
        <div *ngFor="let user of users | paginate: {itemsPerPage: 3, currentPage:page, id: '1'}; let i=index;">
            <p-panel >
                <p-header><span class="glyphicon glyphicon-user"></span> &nbsp;{{user.name}}
                </p-header>
    <h4>{{user.email}}</h4>           
    <h4>{{user.address.city}}</h4>
    <h4>{{user.website}}</h4>
    <p-footer>
            <h4>{{user.company.name}}</h4>
            <h4>{{user.company.bs}}</h4>
    </p-footer>
            </p-panel> &emsp;
    </div>
</div>
    <pagination-controls (pageChange)="page = $event" id="1" style="position:relative;left:400px;"
    maxSize="5"
    directionLinks="true"
    autoHide="true">
    </pagination-controls>
    