.example-card{
    width:40%;
    height:90%;
}
.card-title{
    text-align:left;
    white-space: nowrap;
    font-style: normal;
    
}
.card-image{
    height:150px;
    width:150px;
    display:block;
    margin:10px;
}
.card-content{
    text-align: left;
    font-size:1.5em;
    font-style:normal;
}